*{
  margin: 0 ;
    padding: 0 ;
  
  
}

.container{
  height: 100vh;
  width: 100%;
}

.header{
  background-color: aquamarine;
  height: 8.5%;
  width: 100%;
  
}

.body{
  
  height: 82%;
  width: 100%;
  display: flex;
}

/* components inside body */
.sideNav{
  width: 15%;
  background-color: #edede8;
}
.mainContent{
  width: 65%;
  padding: 20px;
  
  /* background-color: goldenrod; */
}

.ComplaintCard{
  margin-top: 20px;
}

.filter{
  width: 20%;
  background-color: lightblue;

}



.footer{
  background-color: grey;
  height: 10%;
  width: 100%;
}