* {
  margin: 0;
  padding: 0;
}

.container {
  /* height: 100vh; */
  width: 100%;
  overflow: hidden;
}

.header {
  height: 50px;
  width: 100%;
}

.body {
  width: 100%;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* components inside body */
.sideNav {
  width: 15%;
  position: fixed;
  background-color: #edede8;
  height: 100%;
  padding-left: 20px;
}

.comnfot {
  margin-left: 15%;
  width: 71%;
}

.reportBar {
  padding: 50px 150px 20px 150px;
}

.mainContent {
  padding: 20px 150px;
  min-height: 100vh;
}

.filter {
  width: 15%;
  position: fixed;
  background-color: #edede8;
  height: 100%;
  right: 0;
}

.footer {
  background-color: #263238;
  /* height: 50%; */
  width: 100%;
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
  display: inline-flexbox;
}
