* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.header {
  height: 8.5%;
  width: 100%;
}

.body {
  height: 91.5%;
  width: 100%;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* components inside body */
.sideNav {
  width: 15.1%;
  position: fixed;
  background-color: #edede8;
  height: 100%;
  /* margin-right: 50%; */
}

.comnfot {
  /* position: fixed; */
  margin-left: 15.2%;
  width: 65%;
  /* margin-right: 100.2%; */
}

.mainContent {
  padding: 20px;

  /* background-color: goldenrod; */
}

.filter {
  width: 20%;
  position: fixed;
  height: 100vh;
  left: 79%;
  background-color: #edede8;
}

.footer {
  background-color: #263238;
  /* background-Color: #e5e5e5; */

  height: 35%;
  width: 100%;
  padding-top: 20px;
  align-items: center;
  text-align: center;
  display: inline-flexbox;
}
