*{
  margin: 0 ;
    padding: 0 ;
  
  
}

.container{
  
  height: 100vh;
}

.header{
  background-color: aquamarine;
  height: 15%;
  width: 100%;
}

.body{
  background-color: blueviolet;
  height: 75%;
  width: 100%;
  display: flex;
}

.sideNav{
  width: 20%;
  background-color: khaki;
}

.mainContent{
  width: 60%;
  background-color: goldenrod;
}

.filter{
  width: 20%;
  background-color: lightblue;

}



.footer{
  background-color: grey;
  height: 10%;
  width: 100%;
}